page-chats {

.cool
{
	opacity : 0.5 ;
	color : grey ;
	font-size : small ;
font-style:italic ;
 display: block;
    text-align: center;
}
.customIconSound {
    font-size: 10px;
    background-color : orange ;
}
.req {
	
	
	font-weight: bold;
	
}

}
